/* .main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
input {
  border: 3px solid #32e17c;
  height: 40px;
  width: 300px;
  border-radius: 50px;
  padding: 0px 10px;
} */
.search-container {
  background-image: url(https://www.shutterstock.com/image-illustration/black-background-silhouettes-men-women-focus-1183433839);
  width: 100%;
  height: 100%;
  padding-top: 2px;
}
