.App {
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: lightgreen;
  color: green;
  font-weight: bold;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.tagline {
  width: 60%;
  justify-content: left;
  font-size: 250%;
  font-weight: bold;
  color: seagreen;
  float: left;
}
.loginsignup {
  width: 30%;
  background: none;
  font-weight: bold;
  float: right;
}
.nav_login_signup {
  justify-content: center;
  display: flex;
  width: 100%;
  background: blue;
}
.nav-links2 {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.btn-block {
  display: inline-block;
}
